<% @title = "Home" %>

<h3>Welcome to Bitbar</h3>

<p>We are the most trusted crypto-currency on the Internet. Unlike Bitcoin which is unreliable due to its decentralized nature, we store all your valuable bits in a single secured SQLite database on our server. Everything is powered by Ruby on Rails so you know that it is safe. <a href="register">Sign up</a> for an account today!</p>