@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

 
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* General Demo Style */

 

body {
	padding:0;
	position:relative;
 
	background-size:100%;
	width:100%;
	color: #444;
	font-family: "DIN Next LT Pro", serif;
	font-size: 13px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
	margin:0 auto;
	margin-top:20px;
}

@media only screen and (max-width:1410px) {
body{
 
	background-size:100%;
	background-position:bottom;
}
}

@media only screen and (max-width:1024px) {
body{
 
	background-size:100%;
	background-position:bottom;
}
}

a {
	color: #000;
	text-decoration: none;
}

h1, h2, h5 {
 
	font-size: 30px;
	color:#009CDE;
	font-family: "DIN Next LT Pro", serif;
	text-align: center;
	font-weight: 80;
	text-shadow: 1px 1px 2px #9B9B9B;
}


h1 span, h5 {
	font-size: 18px;
	display: block;
	font-style: italic;
	color: #997f5a;
	font-weight: 400;
	text-shadow: 0px 1px 1px #fff;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}