<% @title = "Transfer" %>

<h3>Transfer Bitbars</h3>

<form class="pure-form pure-form-stacked" action="post_transfer" method="post">
	<%= display_error(@error) %>

	<p>
		You currently have <%= @logged_in_user.bitbars %> bitbars.
	</p>

  <label for="destination_username">Transfer to</label>
  <input type="text" name="destination_username" value="<%= @user %>">

  <label for="quantity">Amount</label>
  <input type="text" name="quantity" value="<%= @amount%>"/>
  
  <p><input type="submit" class="pure-button button-primary" value="Transfer" /></p>
</form>