<% @title = "Login" %>

<h3>Login</h3>

<form id=login_form class=pure-form-stacked action=post_login method=post>
    
    <%= display_error(@error) %>

    <label for=username>Username</label>
    <input type=text name=username value=<%= @username %> >

    <label for=password>Password</label>
    <input type=password name=password />
    
    <p><input type=submit id=login class=pure-button value=Login /></p>
</form>
